form {
	&.user_new {
		p { 
			margin: 0 0 1em; 
			line-height: 17px; 
	
			span { color: #666; }
		}
		
		input#user_email,
		input#user_password,
		input#user_password_confirmation { 
			outline: none;
			display: inline-block;
			margin: 0 0 10px;
			padding: 5px 8px;	
			border: 1px solid #d9d9d9;
			border-top-color: #c0c0c0;
			-webkit-border-radius: 2px;
			-moz-border-radius: 2px;			
			border-radius: 2px;
		}
		input#user_remember_me { margin-left: 1.5em; }
		input[type='submit'] { 
			display: inline-block;
			margin: 0;
			padding: 0 7px;
			border: 1px solid gainsboro;
			border: 1px solid rgba(0, 0, 0, 0.1);
			height: 27px;
			line-height: 27px;
			text-align: center;	
			-webkit-border-radius: 2px;
			-moz-border-radius: 2px;
			border-radius: 2px;
			-webkit-transition: all 0.218s;
			-moz-transition: all 0.218s;
			-o-transition: all 0.218s;
			transition: all 0.218s;
			background-color: whiteSmoke;
			background-image: -webkit-gradient(linear,left top,left bottom,from(whiteSmoke),to(#f1f1f1));
			background-image: -webkit-linear-gradient(top,whiteSmoke,#f1f1f1);
			background-image: -moz-linear-gradient(top,whiteSmoke,#f1f1f1);
			background-image: -ms-linear-gradient(top,whiteSmoke,#f1f1f1);
			background-image: -o-linear-gradient(top,whiteSmoke,#f1f1f1);
			background-image: linear-gradient(top,whiteSmoke,#f1f1f1);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f5f5f5',EndColorStr='#f1f1f1');
		}
	}
}